main {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #f5f4f9;
}

.containerTexto {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.containerTexto h1 {
  font-size: 25px;
  font-weight: 700;

  color: #aa6f34;
}

.containerTexto h2 {
  font-size: 35px;
  font-weight: 700;

  color: #757575;
}

.containerFaleConosco {
  display: flex;
  align-items: center;
  gap: 15px;

  position: absolute;
  bottom: 25px;
  right: 25px;
}

.containerFaleConosco h3 {
  padding: 5px 10px;

  font-size: 14px;

  border-radius: 8px;

  background-color: #fff;
}

.containerFaleConosco img {
  width: 75px;
  cursor: pointer;
}
