main {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #f5f4f9;
}

.containerTexto {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.2em;
}

.containerTexto h1 {
  font-size: 2.2em;
  font-weight: 700;

  color: #aa6f34;
}

.containerTexto h2 {
  font-size: 3em;
  font-weight: 700;

  color: #757575;
}

.containerFaleConosco {
  display: flex;
  align-items: center;
  gap: 1em;

  position: absolute;
  bottom: 4%;
  right: 2%;
}

.containerFaleConosco h3 {
  font-size: 1.1em;
  padding: 3px 15px;

  border-radius: 8px;

  background-color: #fff;
}

.containerFaleConosco img {
  width: 35%;
  cursor: pointer;
}
