* {
    margin: 0;
    padding: 0;
  
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #F5F4F9;
    display: flex;
    justify-content: center;
}

.containerPrincipal {
    margin-top: 11%;
    width: 30%;
    height: 50vh;

    border-radius: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #FFF;
}

.containerPrincipal h1 {
    padding: 9% 0 2% 0;
    font-size: 2em;

    color: #212121;
}

.containerPrincipal h2 {
    font-size: 1.3em;
    font-weight: 400;

    color: #424242;
}

/*CONTAINER*/  

.loading {
    display: flex;
}

.circulo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 8px;  
}

.loading div {
    animation: bounce .6s cubic-bezier(0.6,0.1,1,0.4);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.loading div:nth-child(1) {
    animation-delay: .1s;
    background-color: #807028;
}

.loading div:nth-child(2) {
    animation-delay: .2s;
    background-color: #675A20;
}

.loading div:nth-child(3) {
    animation-delay: .3s;
    background-color: #4D4418;
}

.loading div:nth-child(4) {
    animation-delay: .4s;
    background-color: #332D10;
}

.loading div:nth-child(5) {
    animation-delay: .5s;
    background-color: #332D10;
}

@keyframes bounce {
    to {
        transform: translateY(50px);
    }
}
/*LOADING*/

@media screen and (max-width: 480px) {
    .containerPrincipal {
        width: 100%;
        height: 100vh;
        margin-top: 0;

        border-radius: 0;
    }

    .circulo {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 8px;  
    }

    .containerPrincipal h1 {
        padding: 9% 0 2% 0;
        font-size: 1.8em;
    
        color: #212121;
    }

    .containerPrincipal h2 {
        font-size: 1em;
        font-weight: 400;
    
        color: #424242;
    }
  }