* {
  margin: 0;
  padding: 0;

  font-family: "Nunito", sans-serif;
}

main {
  display: flex;
  justify-content: center;

  background-color: #f5f4f9;
}

main .baner {
  width: 60%;
  height: 100vh;
}

main .containerFormulario {
  width: 40%;

  border-radius: 24px 0 0 24px;
  box-shadow: 0px 7px 30px 0px rgba(187, 192, 205, 0.4);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;

  background-color: #fff;
}

.containerLogo {
  width: 315px;
  height: 62px;

  display: flex;
  justify-content: center;
  gap: 2%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form h1 {
  font-size: 48px;
}

form .inputText {
  width: 80%;
  padding: 15px 10px;

  border-radius: 16px;
  border: 1px solid #c5c5c5;
}

form .olho_fechado {
  position: relative;
  bottom: 8.5%;
  left: 35%;
}

form .labelText {
  font-size: 14px;
  font-family: "Poppins", sans-serif;

  border-left: 5px solid #fff;
  border-right: 5px solid #fff;

  position: relative;
  top: 13px;
  right: 115px;

  color: #c5c5c5;
  background-color: #fff;
}

form .checkbox {
  margin: 1% 0 2% 0;

  font-size: 18px;

  display: flex;
  gap: 5px;
}

form .checkbox input {
  margin: 0 0 0 25px;
}

form .checkbox label {
  margin: 0 25px 0 0;

  font-size: 16px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

form .checkbox a {
  margin: 0 25px 0 25px;

  font-size: 16px;
  font-family: "Nunito", sans-serif;

  color: #7b90c1;
}

form .button {
  width: 85%;
  padding: 10px;
  margin: 10px;

  font-size: 18px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  color: #fff;
  background-color: #e0e0e0;

  transition: 0.3s;
}

form .button:hover {
  transition: 0.3s;
  background-color: #00c249;
}

form .cotainerP {
  display: flex;
  align-items: center;
}

form p {
  font-size: 15px;

  color: #616161;
}

form .line {
  width: 20px;
  height: 1px;
  margin: 0 10px;

  background-color: #616161;
}

form .cadastrarSe {
  background-color: #00c249;
}
