main {
  width: 100%;
  background-color: #f5f4f9;
}

.informacaoUser {
  margin: 20px 0 0 25px;

  display: flex;
  align-items: center;
  gap: 5px;
}

.informacaoUser .imgVoltar {
  width: 40px;
  margin: 0 15px 0 0;
}

.informacaoUser h1 {
  font-size: 22px;
}

.informacaoUser img {
  width: 20px;
}

.informacaoUser h2 {
  font-size: 25px;
}

form {
  width: 92%;
  margin-top: 25px;
  margin-left: 2%;
  padding: 25px;

  border-radius: 14px;
  box-shadow: 0px 0px 25px 0px rgba(163, 163, 163, 0.2);

  background-color: #fff;
}

form h2 {
  margin-bottom: 18px;

  font-size: 18px;
}

.containerForm {
  display: flex;
}

label {
  margin-bottom: 3px;

  font-size: 15px;
  font-weight: 700;
}

.inputText {
  width: 250px;
  margin-right: 35px;
  padding: 10px;

  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

form .salvar {
  width: 274px;
  margin: 40px 0 50px 0;
  padding: 12px;

  font-size: 14px;
  font-weight: 700;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  color: #fff;
  background-color: #00c247;

  transition: 0.3s;
}

.salvar:hover {
  background-color: #00a03b;

  transition: 0.3s;
}

select {
  width: 250px;
  margin-right: 35px;
  padding: 10px;

  border: 1px solid #e0e0e0;
  border-radius: 8px;

  background-color: #fff;
}

/* TOGLEE */

.containerToglee label {
  cursor: pointer;
}

.slider {
  width: 50px;
  height: 24px;

  border-radius: 20px;

  position: relative;

  transition: all 300ms ease-in-out;

  background-color: #ff3333;
}

.botao {
  width: 20px;
  height: 20px;

  border: none;
  border-radius: 50%;

  top: 2px;
  left: 2px;
  position: absolute;

  pointer-events: none;

  transition: all 300ms ease-in-out;

  background-color: #fff;
}

.ativo:checked ~ .slider {
  background-color: #00c247;
}

.ativo:checked ~ .slider > .botao {
  left: 28px;
}

.ativo {
  display: none;
}
